{{#unless @member}}
    <div class="modal-overlay">
        <div class="modal">
            <h1>{{t "Members Only"}}</h1>
            <p>{{t "Members Only - Text"}}</p>
            <a href="#/portal/signin" data-portal="signin">{{t "Continue"}}</a>
        </div>
    </div>
{{/unless}}